
<br><br> <br>
<p>
  institute-details works!
</p>
<p>
  institute-details works!
</p>
<p>
  institute-details works!
</p>
<div class="card" style="margin: 16px" style="width: 800px">
  <div class="view overlay">
      <img class="img-thumbnail" style="width: 200px" class="card-img-top" src="{{localImageUrl(place.photo)}}"
          alt="Card image cap">
      <a href="#!">
          <div class="mask rgba-white-slight"></div>
      </a>
      <div class="card-body">
          <h4 class="card-title">{{place.name}}</h4>
          <p class="card-text">{{place.description}}</p>
      </div>
  </div>
  
</div>
