
<p class="text-center">Post an article....</p>
<div class="container">
        
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
               
<form #imageForm= ngForm (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                <label for="caption" class="texts"> Article topic</label>
                <input type="text"  name="caption"  [(ngModel)]="caption" class="form-control" id="caption" placeholder="Write the article topic" required>
              </div>
              </div>
              </div><br>
        <div class="row">
          
            <div class="col-5">
                <img src="{{imageUrl}}" height="200px" width="250px">
                <br><br>
              <input type="file" class="upload" #Image accept="image/*" (change)="handleFileInput($event.target.files)" name="img" [(ngModel)]="img"><br><br>
             
            </div>
          </div>
         
          <div class="row">
              <div class="col-10">
                  <div class="form-group shadow-textarea">
                      <label for="description" class="texts">Add the description.....</label>
                      <textarea class="form-control z-depth-1" name="description" [(ngModel)]="description" id="description" rows="10" placeholder="Write something here..."  required></textarea>
                  </div>
              </div>
             
            </div>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        
        
          </div>
          <div class="col-1"></div>
        </div>
    </div>
<br><br><br>
    <!-- Article panel starts here -->
    <div class="articlePanel">
        <h2>Articles details</h2>
        <div class="card w-100" *ngFor="let admin_article of admin_articles">
          
            <div class="card-body" >
                <h3 class="card-title">{{admin_article['caption']}}</h3>
                <p> <img ng-src="{{admin_article['img']}}" height="50px" width="50px"> </p>
                <p class="card-text">{{admin_article['description']}}</p>
                <a href="#" class="btn btn-primary">Delete</a>
                <a href="#" class="btn btn-primary">Edit</a>
            </div>
           
        </div>
        
<!-- another panel -->
        

    
<!-- end of page -->
</div>

