.container{
    
    border: 10%;
    border-color: black;
    
}
.row{
    border: 5%;
    border-color: black;
    background-color:  rgb(21, 8, 94);
}

.texts{
    font-size: 20px;
    font-weight: 200;
    color: aliceblue
}

.text-center{
    font-size: 40px;
    font-weight: 200;
   
}
button{
    float: right;
}
.articlePanel{
    margin-left: 5%;
    margin-right: 5%;
}


.navbar{
    background-color: rgb(236, 117, 19)
}
a{
    color: black
}