
<div class="adnav">
  
        <nav class="navbar fixed-top navbar-expand-lg ">
        
          <!-- Navbar brand -->
          <a class="navbar-brand" href="admin-dashboard">Admin Dashboard
          <span class="sr-only">(current)</span></a>
          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        
          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="basicExampleNav">
        
              <!-- Links -->
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Home
                          
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="article-feed">Articles</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="post-articles">Post an article</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Post an video</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Institute details</a>
                  </li>
                  
        
                  <!-- Dropdown -->
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Dropdown</a>
                      <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </li>
        
              </ul>
              <!-- Links -->
        
              <form class="form-inline">
                  <div class="md-form my-0">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  </div>
              </form>
          </div>
          <!-- Collapsible content -->
        
        </nav>
        </div>

<p class="text-center">Post an article....</p>
<div class="container">
        
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
               
<form #imageForm= ngForm (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                <label for="caption" class="texts"> Article topic</label>
                <input type="text"  name="caption"  [(ngModel)]="caption" class="form-control" id="caption" placeholder="Write the article topic" required>
              </div>
              </div>
              </div><br>
        <div class="row">
          
            <div class="col-5">
                    <div class="form-group">
                <img src="{{imageUrl}}" height="200px" width="250px">
                <br><br>
              <input type="file" class="upload" #Image accept="image/*" (change)="handleFileInput($event.target.files)" name="img" [(ngModel)]="img"><br><br>
             
            </div>
          </div>
         
          </div>
          <div class="row">
              <div class="col-10">
                  <div class="form-group shadow-textarea">
                      <label for="description" class="texts">Add the description.....</label>
                      <textarea class="form-control z-depth-1" name="description" [(ngModel)]="description" id="description" rows="10" placeholder="Write something here..."  required></textarea>
                  </div>
              </div>
             
            </div>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        
        
          </div>
          <div class="col-1"></div>
        </div>
    </div>
<br><br><br>
    <!-- Article panel starts here -->
    <div class="articlePanel">
        <h2>Articles details</h2>
        <div class="card w-100" *ngFor="let admin_article of admin_articles">
          
            <div class="card-body" >
                <h3 class="card-title">{{admin_article['caption']}}</h3>
                <p> <img src="{{admin_article['img']}}" height="50px" width="50px"> </p>
                <p class="card-text">{{admin_article['description']}}</p>
                <button class="btn btn-primary">Delete</button>
                <a href="#" class="btn btn-primary">Edit</a>
            </div>
           
        </div>
        
<!-- another panel -->
        

    
<!-- end of page -->
</div>

