<!-- Default form login -->
<div class="row">
    <br><br>
    <br>
    </div>
    <div class="example z-depth-5">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-5">
          <div class="example z-depth-5">
            <!-- Default form register -->
    <form class="text-center border border-light p-5" #customerForm=ngForm (ngSubmit)="signup()" >

        <p class="h4 mb-4">Sign up</p>
  
        <div class="form-row mb-4">
          <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormUserName" class="form-control" placeholder="User name" name="username" required [(ngModel)]="username"  #uname="ngModel">
            <div *ngIf="uname.invalid && (uname.dirty || uname.touched)"
          class="alert alert-danger">
          <div *ngIf="uname.errors.required">
           Username Required.
          </div>
      </div>
          </div>
        </div>
        <input type="text" id="defaultRegisterFormFirstName" class="form-control mb-4" placeholder="First Name"  name="fname" required [(ngModel)]="fname" #fn="ngModel">
        <div *ngIf="fn.invalid && (fn.dirty || fn.touched)"
      class="alert alert-danger">
    <div *ngIf="fn.errors.required">
     First name required.
    </div>  
     </div>
        <input type="text" id="defaultRegisterFormLastName" class="form-control mb-4" placeholder="Last Name"  name="lname" required [(ngModel)]="laname" #ln="ngModel">
        <div *ngIf="ln.invalid && (ln.dirty || ln.touched)"
  class="alert alert-danger">
  <div *ngIf="ln.errors.required">
    Last name required.
  </div>
  </div>
        <input type="text" id="defaultRegisterFormContactNo" class="form-control mb-4" placeholder="Contact No"  name="contactno" required [(ngModel)]="contactno" #contact="ngModel">
        
  <div *ngIf="contact.invalid && (contact.dirty || contact.touched)"
  class="alert alert-danger">
  <div *ngIf="contact.errors.required">
    Contact number required.
  </div>
  </div>
        <input type="text" id="defaultRegisterFormGender" class="form-control mb-4" placeholder="Gender"  name="gender" required [(ngModel)]="gender" #gen="ngModel">
        
  <div *ngIf="gen.invalid && (gen.dirty || gen.touched)"
  class="alert alert-danger">
  <div *ngIf="gen.errors.required">
    Gender required.
  </div>
  </div>
        <input type="date" id="defaultRegisterFormBirthday" class="form-control mb-4" placeholder="Birthday"  name="birthday" required [(ngModel)]="birthday" #bd="ngModel">
  
        <div *ngIf="bd.invalid && (bd.dirty || bd.touched)"
        class="alert alert-danger">
        <div *ngIf="bd.errors.required">
          Birthday required.
        </div>
        </div>
        
        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail"  name="email" required [(ngModel)]="email" #em="ngModel">
  
        <div *ngIf="em.invalid && (em.dirty || em.touched)"
        class="alert alert-danger">
        <div *ngIf="em.errors.required">
          Email required.
        </div>
        </div>
        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock"  name="password" required [(ngModel)]="password" #pw="ngModel">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          At least 8 characters and 1 digit
        </small>
        <div *ngIf="pw.invalid && (pw.dirty || pw.touched)"
      class="alert alert-danger">
      <div *ngIf="pw.errors.required">
       Password Required.
      </div>
      <div *ngIf="pw.errors.minlength">
       Password must contain atleast 6 characters.
      </div>
      </div>
        <input type="password"  class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" name="cpassword" required [(ngModel)]="cpassword" #cpw="ngModel">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            Retype your password.
          </small>
          
      
      
  <!-- <div *ngIf="pwc.invalid && (pwc.dirty || pwc.touched)"
  class="alert alert-danger">
  <div *ngIf="pwc.errors.required">
 Password Confirmation Required.
  </div>
  <div *ngIf="pwc.errors.minlength">
  Password doesn't match.
</div>
</div> -->
        <!-- Phone number -->
       
  
        <!-- Newsletter -->
        <div class="row">
          <div class="col-md-6 mx-auto d-flex justify-content-center">
            <mdb-checkbox [default]="true">Subscribe to our newsletter</mdb-checkbox>
          </div>
        </div>
  
        <!-- Sign up button -->
        <button mdbBtn color="info"  class="my-4" type="submit">Sign in</button>
  
        <!-- Social register -->
        <p>or sign up with:</p>
  
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon icon="twitter"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon icon="linkedin"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon icon="github"></mdb-icon>
        </a>
  
        <hr>
  
        <!-- Terms of service -->
        <p>By clicking
          <em>Sign up</em> you agree to our
          <a href="" target="_blank">terms of service</a> and
          <a href="" target="_blank">terms of service</a>. </p>
  
      </form>
      <!-- Default form register --></div>
            </div>
          <div class="col-md-3"></div>
      </div>
      <div class="row">
  <br><br>
  
      </div>
      
        

      

  




      

  
