
.background{
    
    width: 1240px;
    background-image: url(/assets/images/f3.jpg);
}


.Total-CustomersDiv{
    background-color: rgb(2, 2, 2);
    width: 200px;
    height: 200px;
    margin-top: 95px;
    margin-left: 10px;
    color: antiquewhite;
    opacity: 0.5;
    text-align: center;
    
    
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

