
.card-img-top{
    width: 150px;
    height: 150px;
    margin: auto
}
//  .table{
//      margin: auto;
//      float: left;
//  }
 .card-body{
    margin: auto
 }
 .col-md-5{
     margin: auto;
 }
 .col-md-8{
    margin: auto;
}