#slide-out{
    background-color:  rgb(8, 6, 14);
    width: 300px;
    height: 100%;
    
   
    
}
#navMan{
    margin-left: 10%;
    margin-right: 25%;
    width: 180px;
    height: 180px;
    
}
.search-form{
    margin-right: 25px;
}
.InstituteName{
    color:white;
}
.log-out{
    background-color:rgba(73, 64, 124, 0.3);
    color: rgb(147, 199, 245);
    width: 150px;
    height: 50px;
    margin-top: 10px;
    margin-left: 40px;
}
.InastituteName{
    text-align: center;
    // background-color: aqua;
    margin-left: 10%;
    margin-right: 25%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}