<!-- SideNav slide-out button -->
<!-- <a href="#" data-activates="slide-out" class="btn btn-primary p-3 button-collapse"><i class="fa fa-bars"></i></a> -->

<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav fixed">
    <ul class="custom-scrollbar">
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light">
          <div id="navMan"><a href="#"><img src="assets/images/navMan.jpg" class="img-fluid flex-center"></a></div>
        </div>
      </li>
      <!--/. Logo -->
  
  <!--Search Form-->
  <li>
      <form class="search-form" role="search">
        <div class="form-group md-form mt-0 pt-1 waves-light">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </li>
  
      <!--Social-->
      <li>
        <ul class="social">
            <li><a href="/institute dash board" class="SideNavOptions">Status</a></li>
          <li><a href="/institute dash board/edit info" class="SideNavOptions">Add New Place</a></li>
          <li><a href="/institute dash board/Edit-Package-Details" class="SideNavOptions">Edit Package Details</a></li>
          <li><a href="#" class="SideNavOptions">Members Info</a></li>
        </ul>
      </li>
  
    </ul>
    <!-- <div class="sidenav-bg rgba-blue-strong"><h2></h2></div> -->
  </div>
  <!--/. Sidebar navigation -->
  