<!-- SideNav slide-out button -->
<!-- <a href="#" data-activates="slide-out" class="btn btn-primary p-3 button-collapse"><i class="fa fa-bars"></i></a> -->

<!-- Sidebar navigation -->

<div id="slide-out" class="side-nav fixed">
    <ul class="custom-scrollbar">
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light">
          <br>
          <br>
          <br>
          <br>
          <div class="InastituteName">
          <h4 class="InstituteName">INSTITUTE NAME</h4>
        </div>
          <div id="navMan"><a href="#"><img src="assets/images/navMan.jpg" class="img-fluid flex-center"></a></div>
          <button (click)="logout()"   class="log-out" mdbWavesEffect>Log out</button>
          <button   class="log-out" mdbWavesEffect>Change Password</button>

        </div>
      </li>
      <!--/. Logo -->
  
  <!--Search Form-->
  <li>
      <form class="search-form" role="search">
        <div class="form-group md-form mt-0 pt-1 waves-light">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </li>
  
      <!--Social-->
      <li>
        <ul class="social">
            <li><a href="/institute-dash-board" class="SideNavOptions">Institute Profile</a></li>
          <li><a href="/institute-dash-board/add-place" class="SideNavOptions">Add New Place</a></li>
          <li><a href="/institute-dash-board/Edit-Place-Details" class="SideNavOptions">Edit Place/Package Details</a></li>

          <li><a href="/institute-dash-board/customer-details" class="SideNavOptions">Customer Details</a></li>
         
        </ul>
      </li>
  
    </ul>
    <!-- <div class="sidenav-bg rgba-blue-strong"><h2></h2></div> -->
  </div>
  <!--/. Sidebar navigation -->
  