button{
   float: right;
}
  
form{
   background-color: rgba(12, 12, 243, 0.199);
   margin: auto;
 // background-image: url(/assets/images/f4.jpg);
 // background-repeat: no-repeat;
 // background-size: cover;
 }

 
.body{
   background-image: url(/assets/images/f3.jpg);
 }
 label{
    color: white
 }

 p{
    color: white;
    text-align: center
 }
