<!-- Default form login -->
<div class="body">
<div class="row">
  <br><br>
  <br>
  </div>
  <div class="col-md-5">
      <div class="example z-depth-5">

    
  <!--Card image-->
  
          <form class="text-center border border-light p-5" #login=ngForm (ngSubmit)="onSubmit()">

            <p class="h4 mb-4"> Login</p>
          
            <!-- Email -->
            <input type="email" id="email"  class="form-control mb-4" placeholder="E-mail" name="email" required minlength="5" [(ngModel)]="email" #name="ngModel" >
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">

  <div *ngIf="name.errors.required">
    Email is required.
  </div>
  <div *ngIf="name.errors.minlength">
   Invalid email.
  </div>
</div>
            <!-- Password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password" required minlength="6" [(ngModel)]="password"   #pword="ngModel" >
            <div *ngIf="pword.invalid && (pword.dirty || pword.touched)"
    class="alert alert-danger">

  <div *ngIf="pword.errors.required">
   Password Required.
  </div>
  <!-- <div *ngIf="pword.errors.minlength">
   Password must contain atleast 6 characters.
  </div> -->
</div>
            <div class="d-flex justify-content-around">
              <div> 
                <!-- Remember me -->
                <mdb-checkbox [default]="true" style="color: white">Remember me</mdb-checkbox>
              </div>
              <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
              </div>
            </div>
          
            <!-- Sign in button -->
            <button mdbBtn color="info" class="my-4" type="submit">Login</button>
            
            <!-- Register -->
            <p>Not a member?
              <a href="user-sign-up">Register</a>
            </p>
          
            <!-- Social login -->
            <p>or sign in with:</p>
          
            <a type="button" class="light-blue-text mx-2">
              <!-- <i class="fa fa-facebook"></i> -->
              <mdb-icon icon="facebook"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
              <!-- <i class="fa fa-twitter"></i> -->
              <mdb-icon icon="twitter"></mdb-icon>
            </a>
            
            
          
          </form>
          <!-- Default form login -->
  
        
        <!-- Default form login -->
           
        <!-- Card -->
      
        </div>
        </div>
        <div class="row">
          <br><br>
          <br><br>
          </div>
          </div>

   
 

    

