
img {
    border-radius: 50%;
}
.navbar{
    background-color: #ffffff;
    opacity: 0.6;
   filter: alpha(opacity=60);
}
.navbar-brand{
    color:rgba(156, 158, 248, 0.5);
    font-style: italic;
    font-size: 35px;
    // margin-left: -200px;
    font-family: cursive;
    text-shadow: 5px 5px 4px #4c4c6b;
}

