.navbar {
    backface-visibility: visible;
    background-color:  rgb(197, 191, 187);
    opacity: 50%;
    
}
.navbar {
    background-color: transparent;
}
.top-nav-collapse {
  background-color: #4285F4;
}