


<router-outlet>
  
  </router-outlet>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <strong>Fitness Lanka</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a href="" class="nav-link">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a  href="/article-feed" class="nav-link">Articles</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Fitness</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Help</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Contact Us</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a href="/forum" class="nav-link">Forum</a>
        </li>
        <span class="navbar-text white-text">
          <a href="/login"> <button mdbBtn color="indigo" size="sm" > Sign In</button></a>
          <a href="/user-sign-up">  <button mdbBtn color="indigo" size="sm"> Sign Up</button></a>
        </span>
        
      </ul>
      
    
    </links>
  </mdb-navbar>
  <!-- Footer -->
<footer class="page-footer  font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">
      
              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">
      
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae harum esse fugiat. Itaque, culpa?</p>
      
              </div>
              <!-- Grid column -->
      
              <hr class="clearfix w-100 d-md-none pb-3">
      
              <!-- Grid column -->
              <div class="col-md-6 mb-md-0 mb-3">
      
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id excepturi hic.</p>
      
              </div>
              <!-- Grid column -->
      
            </div>
            <!-- Grid row -->
      
          </div>
      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Creative Hub</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->