.col-8{
    margin: auto;
}
.top{
    font-size: 40px;
    font-style: oblique;
    font-family: monospace;
    font-weight: 200;
    text-align: center
}
.page{
    background-color: rgb(197, 191, 187)
}
