<app-profile-nav></app-profile-nav>
<div class="page">
<p class="top">Article Feed</p>
<!--News card-->
<div class="col-8" >
<div class="card mb-3 text-center hoverable" *ngFor="let admin_article of admin_articles">
    <div class="card-body" >
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4 offset-md-1 mx-3 my-3">
                <!--Featured image-->
                <div class="view overlay">
                    <img src="{{admin_article['img']}}" class="img-fluid" alt="Sample image for first version of blog listing">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-7 text-left ml-3 mt-3"  >
                <!--Excerpt-->
                <a href="" class="green-text">
                    <h6 class="font-bold pb-1"><i class="fa fa-desktop"></i> Work</h6>
                </a>
                <h4 class="mb-4"><strong>{{admin_article['caption']}}</strong></h4>
                <p>{{admin_article['description']}}</p>
                <!-- <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p> -->
                <a class="btn btn-success">Read more</a>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</div>
</div>
<!--News card-->
</div>