
.card-img-top{
    width: 250px;
    height: 200px;
    margin: auto
}
//  .table{
//      margin: auto;
//      float: left;
//  }
 .card-body{
    margin: auto
 }
 .col-md-5{
     margin: auto;
 }
 .col-md-8{
    margin: auto;
}
label{
     font-weight: 500;
     color: azure
}

.card{
    background-color: rgba(12, 12, 243, 0.199);
// background-image: url(/assets/images/f4.jpg);
// background-repeat: no-repeat;
// background-size: cover;
}

.body{
    background-image: url(/assets/images/f3.jpg);
}