

.Idetails{
    margin: 30px;
    width: 1170px;
    
}

#submit1{
    background: linear-gradient(to right,rgb(0, 25, 139),blue,rgb(58, 69, 224),rgb(126, 131, 196));
}

h5{
    color: rgb(68, 91, 500);
    font-family:bolt;
    

}

.background{
    background-color: rgb(255, 255, 255);
    width: 1240px;
    
}
#submit1{
    float:right;
}


