

.Idetails{
    margin: 30px;
    width: 1170px;
    opacity: 0.8;
    
}

#submit1{
    background: linear-gradient(to right,rgb(37, 33, 100),rgb(25, 37, 148),rgb(92, 111, 192),rgb(122, 121, 124),rgb(59, 90, 175));
    float:right;
}

h5{
    color: rgb(68, 91, 500);
    font-family:bolt;
    

}

.background{
    
    width: 1240px;
    background-image: url(/assets/images/f3.jpg);
    background-attachment: fixed;

}
.Add-new{
    margin-left: 925px;
    margin-top: 100px;
    width:200px;
    // background-color: aqua;
}


