

.Idetails{
    margin: 30px;
    width: 1170px;
    opacity: 0.8;
    
}

#submit1{
    background: linear-gradient(to right,rgb(29, 26, 80),rgb(38, 7, 151),rgb(87, 46, 231),rgb(116, 85, 230),rgb(59, 90, 175));
    float:right;
}

h5{
    color: rgb(68, 91, 500);
    font-family:bolt;
    

}

.background{
    
    width: 1240px;
    background-image: url(/assets/images/f3.jpg);
}



