
    <div class="row">
      <div class="col-2">
          <div class="row"><br></div>
              <div class="row"><br></div>
              <div class="row"><br></div>
            <ul class="nav flex-column  py-4 mb-r">


        <li class="nav-item"><a class="nav-link white-text" href="#">Post an article</a></li>
        <li class="nav-item"><a class="nav-link white-text" href="#">Post a video </a></li>
        <li class="nav-item"><a class="nav-link white-text" href="#">Institute details</a></li>
        <li class="nav-item"><a class="nav-link white-text" href="#">Profile details</a></li>
        <li class="nav-item"><a class="nav-link white-text" (click)="frame.show()">Change password</a></li>

        
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Change Password</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      

      <div class="md-form mb-4">
        
        <input type="password" id="defaultForm-pass1" [formControl]="loginFormModalPassword1" class="form-control validate" name="currentPassword" [(ngModel)]="currentPassword"
          mdbInputDirective>
        <label data-error="wrong" data-success="right" for="defaultForm-pass1">Current password</label>
      </div>
      <div class="md-form mb-4">
          
          <input type="password" id="defaultForm-pass2" [formControl]="loginFormModalPassword2" class="form-control validate" name="newPassword" [(ngModel)]="newPassword"
            mdbInputDirective>
            
          <label data-error="wrong" data-success="right" for="defaultForm-pass2">New password</label>
         
        </div>
        <div>
        <!-- <small>{{error.error.errors.new_password}}</small> -->
       </div>
        <div class="md-form mb-4">
          
            <input type="password" id="defaultForm-pass3" [formControl]="loginFormModalPassword3" class="form-control validate" name="confirmNewPassword" [(ngModel)]="confirmNewPassword"
              mdbInputDirective>
            <label data-error="wrong" data-success="right" for="defaultForm-pass3">Confirm new password</label>
          </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="changePassword()" >Save Changes</button>
    </div>
  </div>
</div>
</div>


       
    </ul>

      </div>
      <div class="col-7">
         
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="card-deck">
              <!-- Card -->
              <mdb-card>
                <div class="view overlay waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <div class="grad1"></div>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <a href="#">
                  <mdb-card-title>
                    <h4>Profile details</h4>
                  </mdb-card-title>
            </a>
                  <!--Text-->
                 
            
                </mdb-card-body>
              </mdb-card>
            
              <!-- Card -->
              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <div class="grad1"></div>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <a href="#">
                  <mdb-card-title>
                    <h4>Payment details</h4>
                  </mdb-card-title>
            </a>
                  <!--Text-->
               
            
                 
                </mdb-card-body>
              </mdb-card>
            
              <!-- Card -->
              <mdb-card>
                  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <div class="grad1"></div>
                    <a>
                      <div class="mask"></div>
                    </a>
                  </div>
                  <!--Card content-->
                  <mdb-card-body>
                    <!--Title-->
                    <a href="post-articles">
                    <mdb-card-title >
                      <h4 >Post an article</h4>
                    </mdb-card-title>
              </a>
                    <!--Text-->
                 
              
                   
                  </mdb-card-body>
                </mdb-card>
            </div>
            <div class="row"><br></div>
            <div class="row"><br></div>
            <div class="card-deck">
                <!-- Card -->
                <mdb-card>
                  <div class="view overlay waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <div class="grad1"></div>
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--Card content-->
                  <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                      <h4>Card Title</h4>
                    </mdb-card-title>
              
                    <!--Text-->
                   
              
                  </mdb-card-body>
                </mdb-card>
              
                <!-- Card -->
                <mdb-card>
                  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <div class="grad1"></div>
                    <a>
                      <div class="mask"></div>
                    </a>
                  </div>
                  <!--Card content-->
                  <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                      <h4 href="">Card Title</h4>
                    </mdb-card-title>
              
                    <!--Text-->
                   
              
                   
                  </mdb-card-body>
                </mdb-card>
              
                <!-- Card -->
                <mdb-card>
                  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <div class="grad1"></div>
                    <a>
                      <div class="mask"></div>
                    </a>
                  </div>
                  <!--Card content-->
                  <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                      <h4>Card Title</h4>
                    </mdb-card-title>
              
                    <!--Text-->
                   
              
                   
                  </mdb-card-body>
                </mdb-card>
              </div>
              <div class="row"><br></div>
              <div class="row"><br></div>
        </div>
        <div class="col-md-3">
            <div class="row"><br></div>
            <div class="row"><br></div>
            <div class="row"><br></div>
            <div class="card">
  
               
                <div class="view overlay">
                <img class="card-img-top" src="{{user.avatar}}" alt="Card image cap">
            </div>
                
                <div class="card-body">

              
                    <h6 class="card-title">User Name: {{user.name}}</h6>
                 
                    <h6 class="card-title">E mail: {{user.email}}</h6>
                   
                    
              <row>
                  <a href="/admin-edit">  <button type="button" class="btn btn-light-blue btn-md">Edit Info</button></a>
                  
                    <button type="button" class="btn btn-light-blue btn-md" (click)="logout()">Log Out</button>
              </row>
              
                </div>
              
              </div>
       
    </div>
      <!-- <div class="col-8">
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="row">
              <div class="col-6 col-md-1">
                </div>
              <div class="col-6 col-md-3">
                  <div class="card">

                      
                      <img class="card-img-top" src="./assets/images/article.jpg" alt="Card image cap">
                    
                     
                      <div class="card-body">
                    
                        
                        <h4 class="card-title"><a>Post an article</a></h4>
                       
                        <p class="card-text"></p>
                        
                        <a href="post-articles" class="btn btn-primary">Enter here...</a>
                    
                      </div>
                    
                    </div>
              </div>
              <div class="col-6 col-md-3">
                  <div class="card">

                  
                      <img class="card-img-top" src="./assets/images/v.jpg" alt="Card image cap">
                    
                    
                      <div class="card-body">
                    
                    
                        <h4 class="card-title"><a>Post a video</a></h4>
                      
                        <p class="card-text"></p>
                      
                        <a href="#" class="btn btn-primary">Enter here...</a>
                    
                      </div>
                    
                    </div>
              </div>
              <div class="col-6 col-md-3">
                  <div class="card">

                  
                      <img class="card-img-top" src="./assets/images/details.jpg" alt="Card image cap">
                    
                
                      <div class="card-body">
                    
                  
                        <h4 class="card-title"><a>Institute details</a></h4>
                  
                        <p class="card-text"></p>
                  
                        <a href="#" class="btn btn-primary">Enter here...</a>
                    
                      </div>
                    
                    </div>
              </div>
              <div class="col-6 col-md-1">
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-1">
                  </div>
                <div class="col-6 col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="./assets/images/forum.jpg" alt="Card image cap"  width="90px" height="250px">
                      
                  
                        <div class="card-body">
                      
                    
                          <h4 class="card-title"><a>Forum....</a></h4>
                    
                          <p class="card-text"></p>
                  
                          <a href="#" class="btn btn-primary">Enter here...</a>
                      
                        </div>
                      
                      </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card">

                        
                        <img class="card-img-top" src="./assets/images/admin.jpg" alt="Card image cap" width="90px" height="250px">
                      
                        
                        <div class="card-body">
                      
                         
                          <h4 class="card-title"><a>Add an admin...</a></h4>
                          
                          <p class="card-text"></p>
                        
                          <a href="/admin-sign-up" class="btn btn-primary">Enter here...</a>
                      
                        </div>
                      
                      </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card">

                        
                        <img class="card-img-top" src="./assets/images/admin.jpg" alt="Card image cap" width="90px" height="250px">
                      
                       
                        <div class="card-body">
                      
                         
                          <h4 class="card-title"><a>Add an admin...</a></h4>
                         
                          <p class="card-text"></p>
                         
                          <a href="/admin-sign-up" class="btn btn-primary">Enter here...</a>
                      
                        </div>
                      
                      </div>
                </div>
                <div class="col-6 col-md-1">
                  </div>
              </div>

      </div>
      <div class="col-2">
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="card">

             
              <div class="view overlay">
              <img class="card-img-top" src="./assets/images/avatar.png" alt="Card image cap">
          </div>
              
              <div class="card-body">
            
                  <h6 class="card-title">User Name: {{user.name}}</h6>
               
                  <h6 class="card-title">E mail: {{user.email}}</h6>
                 
                  <p class="card-text"></p>
             
                <a href="/edit-profile">  <button type="button" class="btn btn-light-blue btn-md">Edit Info</button></a>
                  <button type="button" class="btn btn-light-blue btn-md" (click)="logout()">Log Out</button>
            
            
              </div>
            
            </div>
        </div>
    </div>
 










   --> 