
.navbar{
    background-color: rgb(236, 117, 19)
}
a{
    color: black
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col-2{
    background-color:#1c2331;
    border-block-end-color: black
}
img{
    width: 60%;
    height: 70%;
}