
    <div class="row">
      <div class="col-2">
          <div class="row"><br></div>
              <div class="row"><br></div>
              <div class="row"><br></div>
            <ul class="nav flex-column  py-4 mb-r">
<!-- Sidebar navigation -->

        <li class="nav-item"><a class="nav-link white-text" href="#">Post an article</a></li>
        <li class="nav-item"><a class="nav-link white-text" href="#">Post a video </a></li>
        <li class="nav-item"><a class="nav-link white-text" href="#">Institute details</a></li>
        <li class="nav-item"><a class="nav-link white-text" href="#">Profile details</a></li>
        <li class="nav-item"><a class="nav-link white-text" href="#">Change password</a></li>
       
    </ul>

      </div>
      <div class="col-8">
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="row">
              <div class="col-6 col-md-1">
                </div>
              <div class="col-6 col-md-3">
                  <div class="card">

                      <!-- Card image -->
                      <img class="card-img-top" src="./assets/images/article.jpg" alt="Card image cap">
                    
                      <!-- Card content -->
                      <div class="card-body">
                    
                        <!-- Title -->
                        <h4 class="card-title"><a>Post an article</a></h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- Button -->
                        <a href="post-articles" class="btn btn-primary">Enter here...</a>
                    
                      </div>
                    
                    </div>
              </div>
              <div class="col-6 col-md-3">
                  <div class="card">

                      <!-- Card image -->
                      <img class="card-img-top" src="./assets/images/v.jpg" alt="Card image cap">
                    
                      <!-- Card content -->
                      <div class="card-body">
                    
                        <!-- Title -->
                        <h4 class="card-title"><a>Post a video</a></h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Enter here...</a>
                    
                      </div>
                    
                    </div>
              </div>
              <div class="col-6 col-md-3">
                  <div class="card">

                      <!-- Card image -->
                      <img class="card-img-top" src="./assets/images/details.jpg" alt="Card image cap">
                    
                      <!-- Card content -->
                      <div class="card-body">
                    
                        <!-- Title -->
                        <h4 class="card-title"><a>Institute details</a></h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Enter here...</a>
                    
                      </div>
                    
                    </div>
              </div>
              <div class="col-6 col-md-1">
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-1">
                  </div>
                <div class="col-6 col-md-3">
                    <div class="card">

                        <!-- Card image -->
                        <img class="card-img-top" src="./assets/images/forum.jpg" alt="Card image cap"  width="90px" height="250px">
                      
                        <!-- Card content -->
                        <div class="card-body">
                      
                          <!-- Title -->
                          <h4 class="card-title"><a>Forum....</a></h4>
                          <!-- Text -->
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <!-- Button -->
                          <a href="#" class="btn btn-primary">Enter here...</a>
                      
                        </div>
                      
                      </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card">

                        <!-- Card image -->
                        <img class="card-img-top" src="./assets/images/admin.jpg" alt="Card image cap" width="90px" height="250px">
                      
                        <!-- Card content -->
                        <div class="card-body">
                      
                          <!-- Title -->
                          <h4 class="card-title"><a>Add an admin...</a></h4>
                          <!-- Text -->
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <!-- Button -->
                          <a href="/admin-sign-up" class="btn btn-primary">Enter here...</a>
                      
                        </div>
                      
                      </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card">

                        <!-- Card image -->
                        <img class="card-img-top" src="./assets/images/admin.jpg" alt="Card image cap" width="90px" height="250px">
                      
                        <!-- Card content -->
                        <div class="card-body">
                      
                          <!-- Title -->
                          <h4 class="card-title"><a>Add an admin...</a></h4>
                          <!-- Text -->
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <!-- Button -->
                          <a href="/admin-sign-up" class="btn btn-primary">Enter here...</a>
                      
                        </div>
                      
                      </div>
                </div>
                <div class="col-6 col-md-1">
                  </div>
              </div>

      </div>
      <div class="col-2">
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="row"><br></div>
          <div class="card">

              <!-- Card image -->
              <div class="view overlay">
              <img class="card-img-top" src="./assets/images/avatar.png" alt="Card image cap">
          </div>
              <!-- Card content -->
              <div class="card-body">
            
                  <h6 class="card-title">User Name: {{user.name}}</h6>
                  <!--Text-->
                  <h6 class="card-title">E mail: {{user.email}}</h6>
                 
                  <p class="card-text"></p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a href="/edit-profile">  <button type="button" class="btn btn-light-blue btn-md">Edit Info</button></a>
                  <button type="button" class="btn btn-light-blue btn-md" (click)="logout()">Log Out</button>
            
            
              </div>
            
            </div>
        </div>
    </div>
 










 