
.card-img-top{
    width: 150px;
    height: 150px;
    margin: auto
}
//  .table{
//      margin: auto;
//      float: left;
//  }
 .card-body{
    margin: auto
 }

 .col-md-2{
     background-color:#1c2331;
     border-block-end-color: black
 }
 