
.card-img-top{
    width: 200px;
    height: 150px;
    margin: auto
}
//  .table{
//      margin: auto;
//      float: left;
//  }
 .card-body{
    margin: auto
 }

 .col-md-2{
     background-color:#1c2331;
     border-block-end-color: black
 }
 
.col-2{
    background-color:#1c2331;
}
h6{
    font-weight: 900;
}

small{
    color: rgb(51, 49, 49)
}