
<app-profile-nav></app-profile-nav>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row">
  <br>
  <br>
  <br>
</div>
    <div class="row" >
        <!-- Table -->
        <div class="col-md-1"></div>
        <div class="col-md-7">
       <table class="table">
  <thead class="black white-text">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Institute</th>
      <th scope="col">Category</th>
      <th scope="col">Package</th>
      <th scope="col">Payment state</th>
      <th scope="col">Pay now</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><button class="btn btn-light-blue btn-md">Pay Now</button></td>
    </tr>
    
    
  </tbody>
</table>


      </div>
      <div class="col-md-1"></div>
  <!-- end of table -->
  <div class="col-md-3">
     <!-- Card -->
     

      <!-- Card -->
      <div class="card mb-6" *ngIf="user">
    
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="{{avatar}}" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
    
        <!--Card content-->
        <div class="card-body" >
    
          <!--Title-->
          <h6 class="card-title">User Name: {{user.name}}</h6>
          <!--Text-->
          <h6 class="card-title">E mail: {{user.email}}</h6>
          <h6 class="card-title">Address:{{user.address}}</h6>
          <h6 class="card-title">Age:</h6>
          <p class="card-text"></p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Edit Info</button>
          <button type="button" class="btn btn-light-blue btn-md" (click)="logout()">Log Out</button>
    
        </div>
         
<!-- Card -->
  </div>
    </div>
  </div>
 
  <div class="row">
    
    <br>
    </div>