<div class="largest">
<div class="row">

    <br>
    <app-iside-nav></app-iside-nav>

    <div class="Div2">
        <div style="background-image: url(/assets/images/f3.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
            <div class="full-bg-img mask rgba-purple-slight">
                <div class="container">
                    <div class="d-flex align-items-center d-flex justify-content-center" style="height: 200px">

                        <!-- <h3 class="h3 display-1 white-text mb-1 wow fadeInDown" data-wow-delay="0.3s">Category name</h3> -->

                    </div>
                </div>
            </div>
            <div class="full-bg-img mask rgba-pink-slight">

                <div *ngIf="institute_category_places" class="container">
                    <div *ngFor="let place of institute_category_places.places.data" style="padding:16px">
                        <div class="card">

                            <div class="card-body">
                                <div class="card-title">{{place.name}}</div>
                            </div>

                            <div class="row">

                                <div class="view-overlay">
                                    <img src="assets/images/navMan.jpg"  class="img-fluid" alt="Sample image for first version of blog listing">
                                    
                                    <!-- <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a> -->
                                </div>
                               
                                <div class="P-description">
                                    <p>{{place.description}}</p>
                                </div>
                                
                            </div>
                            <div class="View-more-Details">
                                    <button class="btn-purple-gradient" (click)="basicModal.show()" mdbWavesEffect>More Details...</button>

                            </div>
                            <div class="edit-place-Details">
                                <a href="/institute-dash-board/Edit-Place-Details-form">
                                    <button class="btn-purple-gradient" >Edit place Details</button>
                                </a> 
                            </div>
                                    <div class="edit-package-Details">
                                        <button class="btn-purple-gradient" >Edit package Details</button>
                                    </div> 
                                    
                                    

                                    <!--DELETE PLACE-->

                                    <div class="delete-place">
                                            <button class="btn-purple-gradient" (click)="basicModal2.show()" >Delete place</button>
                                        </div>
                                        
                                        <!-- <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Launch demo modal</button> -->

                                        <div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
                                                  <span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title w-100" id="myModalLabel">Are you sure?</h4>
                                              </div>
                                              <div class="modal-body">
                                                    Do you really want to permanantly delete this place ? 
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal2.hide()" mdbWavesEffect>No</button>
                                                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Yes</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>        







<!-- <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Launch demo modal</button> -->

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>

        <div class="card-body-pop">
            <div class="card-title1">{{place.name}}</div>
        </div>
       </div>

       <div class="row">
            <div class="view-overlay-pop">
                <img src="assets/images/navMan.jpg"  class="img-fluid" alt="Sample image for first version of blog listing">
            </div>

            <div class="modal-body">
                <div class="P-description-pop">
                    <p>{{place.description}}</p>
                </div>
            </div>
        </div>

        <div class="list-group">
                <a href="#" class="list-group-item disabled waves-light" mdbWavesEffect>Contact No:{{place.name}}</a>
                <a href="#" class="list-group-item waves-light" mdbWavesEffect>Address:{{place.name}}</a>

                

            
                <div *ngIf="institute_category_places" class="container">
                        <div *ngFor="let place of institute_category_places.places.data" style="padding:1px">
            
                <div class="package-detais">
                    <dl>
                        <dt>{{place.name}}</dt>
                        <dd>{{place.description}}</dd>
                        <div class="row">
                            <div class="Time-price">
                                <dd>- Time Duration : {{place.name}}</dd>
                                <dd>- Package Price : {{place.name}}</dd>
                            </div>
                            <div>
                            <div>
                                <button class="registerB" type="button" mdbBtn color="secondary" mdbWavesEffect>Edit</button>
                            </div>

<!--DELETE PACKAGE-->

                            <div>
                                    <button class="registerB" type="button" mdbBtn color="red" mdbWavesEffect>Delete</button>
                                </div>

                                

                            </div>
                        </div>
                    </dl>
                </div>
                </div>
                </div>
            
            </div>
       
                
            

<div class="modal-footer">
        <a href="/institute-dash-board/Add-New-Package">
            <button class="registerc" type="button" mdbBtn color="secondary" mdbWavesEffect>Add New</button>
        </a>
            <!-- <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button> -->
</div>

    
    </div>
  </div>
</div>

  



                                    







                            
                            
                            
                            <br>
                            <br>


                        </div>
                    </div>

                </div>
                <br>

            </div>
        </div>
    </div>

</div>

</div>
