<div class="largest">
<div class="row">

    <br>
    <app-iside-nav></app-iside-nav>

    <div class="Div2">
        <div style="background-image: url(/assets/images/f3.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
            <div class="full-bg-img mask rgba-purple-slight">
                <div class="container">
                    <div class="d-flex align-items-center d-flex justify-content-center" style="height: 200px">

                        <!-- <h3 class="h3 display-1 white-text mb-1 wow fadeInDown" data-wow-delay="0.3s">Category name</h3> -->

                    </div>
                </div>
            </div>
            <div class="full-bg-img mask rgba-pink-slight">

                <div *ngIf="institute_category_places" class="container">
                    <div *ngFor="let place of institute_category_places.places.data" style="padding:16px">
                        <div class="card">

                            <div class="card-body">
                                <div class="card-title">{{place.name}}</div>
                            </div>

                            <div class="row">

                                <div class="view-overlay">
                                    <img src="assets/images/navMan.jpg"  class="img-fluid" alt="Sample image for first version of blog listing">
                                    
                                    <!-- <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a> -->
                                </div>
                               
                                <div class="P-description">
                                    <p>{{place.description}}</p>
                                </div>
                                
                            </div>
                            <div class="View-more-Details">
                                    <button class="btn-purple-gradient">More Details...</button>

                            </div>
                            <div class="edit-place-Details">
                                    <button class="btn-purple-gradient">Edit place Details</button>

                            </div>
                            <div class="edit-package-Details">
                                    <button class="btn-purple-gradient">Edit package Details</button>

                            </div>
                            
                            <br>
                            <br>


                        </div>
                    </div>

                </div>
                <br>

            </div>
        </div>
    </div>

</div>
</div>