<!--Main Navigation-->


<header class="intro-header">

  <!--Navbar-->
  <!-- <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark  scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
          <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
      </mdb-navbar-brand>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active waves-light" mdbWavesEffect>
                  <a class="nav-link">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link">Link</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link">Profile</a>
              </li>
          </ul>
      </links>
  </mdb-navbar> -->

  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.1}' style="background-image: url(/assets/images/b3.jpeg);">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="text-center">
              <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Fitness Lanka.lk
              </strong></h2>
              <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Where fitness blends with perfection.......
                </strong></h5>
              <a  href="/login" mdbBtn color="indigo" outline="" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
                mdbWavesEffect>Login</a>
              <a href="/user-sign-up" mdbBtn color="indigo" outline="" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
                mdbWavesEffect>Sign Up</a>
                <br>
                <a href="/sign-up" mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
                mdbWavesEffect>Register your institute</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->