.second{
    background-image: url(/assets/images/f3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 1240px;
}
.customer{
    width: 1160px;
    height: 150px;
    background-color: rgba(34, 15, 119,0.4);
    margin: 25px;
    color: aliceblue;
}
.detail-box{
    margin: 25px;
    // background-color: aqua;
}