<div class="largest">
    <div class="row">
    
        <br>
        <app-iside-nav></app-iside-nav>
        <div class="second">
          <br>
          <br>
          <br>
          <div class="customer">
            <div class="detail-box">
              <br>
            <ul style="list-style-type:square;">
              <li>Customer Name:</li>
              <li>email:</li>
              <li>Contact Number:</li>
              <li>Payment Status:</li>
            </ul>
          </div>
          </div>

        </div>


    </div>
</div>